<fd-layout-panel>
  <fd-layout-panel-header>
    <fd-layout-panel-head>
      <h2 fd-layout-panel-title>Travel Planner</h2>
    </fd-layout-panel-head>
  </fd-layout-panel-header>
  <fd-layout-panel-body>
    <ng-container *ngIf="!showForm">
      <fd-toolbar>
        <label fd-toolbar-label>
          Upcoming Trips ({{tableRows.length}})
        </label>
        <fd-toolbar-spacer></fd-toolbar-spacer>
        <button fd-button fd-toolbar-item (click)="showForm = true;" [compact]="true" fdType="transparent" glyph="add">New Trip</button>
      </fd-toolbar>
      <table fd-table>
        <thead fd-table-header>
          <tr fd-table-row>
            <th fd-table-cell>Purchased Flights</th>
            <th fd-table-cell>Dates</th>
            <th fd-table-cell>Destination</th>
            <th fd-table-cell>Country</th>
            <th fd-table-cell>Notes</th>
            <th fd-table-cell>Attachments</th>
          </tr>
        </thead>
        <tbody fd-table-body>
          <tr *ngFor="let row of tableRows" fd-table-row>
            <td fd-table-cell>
              <fd-checkbox></fd-checkbox>
            </td>
            <td fd-table-cell>{{row.dates}}</td>
            <td fd-table-cell>{{row.destination}}</td>
            <td fd-table-cell>{{row.country}}</td>
            <td fd-table-cell>{{row.notes ? row.notes : ''}}</td>
            <td fd-table-cell>
              <a style="cursor: pointer;" *ngFor="let file of row.files" fd-link>
                <span (click)="download(file)" style="margin-right: 5px;">
                  {{file.name}}
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-container *ngIf="showForm">
      <div fd-form-item>
        <fd-date-picker fd-form-control type="range" [(ngModel)]="dates"></fd-date-picker>
      </div>
      <div fd-form-item>
        <input fd-form-control type="text" placeholder="Destination" [(ngModel)]="destination"/>
      </div>
      <div fd-form-item>
        <fd-combobox [(ngModel)]="country" [dropdownValues]="countriesList" [maxHeight]="'250px'" placeholder="Country"></fd-combobox>
      </div>
      <div fd-form-item>
        <input fd-form-control type="text" placeholder="Notes (Optional)" [(ngModel)]="notes"/>
      </div>
      <div fd-form-item>
        <fd-file-input #fileInput [(ngModel)]="files" [multiple]="true" [accept]="'.png,.jpg'">
          <button fd-button (click)="fileInput.open()">
            Attachments (.jpg or .png)
          </button>
        </fd-file-input>
        Files Selected:
        <br />
        <div *ngFor="let file of files">
          {{ file.name }}
        </div>
        <br/>
      </div>
      <button fd-button glyph="accept" (click)="submitTrip()" style="margin-right: 5px;">Submit</button>
      <button fd-button glyph="decline" fdType="negative" (click)="resetForm()">Cancel</button>
    </ng-container>
  </fd-layout-panel-body>
</fd-layout-panel>
