<div>
  <div>
    <div>
      <h2>Travel Planner</h2>
    </div>
  </div>
  <div>
    <ng-container *ngIf="!showForm">
      <div>
        <label>
          Upcoming Trips ({{tableRows.length}})
        </label>
        <button (click)="showForm = true;">New Trip</button>
      </div>
      <table>
        <thead>
          <tr>
            <th>Purchased Flights</th>
            <th>Dates</th>
            <th>Destination</th>
            <th>Notes</th>
            <th>Attachments</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableRows">
            <td>
              <input type="checkbox"/>
            </td>
            <td>{{row.dates}}</td>
            <td>{{row.destination}}</td>
            <td >{{row.notes ? row.notes : ''}}</td>
            <td>
              <a style="cursor: pointer;" (click)="download(row.files[0])">
                <span *ngFor="let file of files">
                  {{file.name}}
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-container *ngIf="showForm">
      <div>
        <input type="date" placeholder="Dates" [(ngModel)]="dates"/>
      </div>
      <div>
        <input type="text" placeholder="Destination" [(ngModel)]="destination"/>
      </div>
      <div>
        <input type="text" placeholder="Notes (Optional)" [(ngModel)]="notes"/>
      </div>
      <div>
        <button>
          Attachments (.jpg or .png)
        </button>
        Files Selected:
        <br />
        <div *ngFor="let file of files">
          {{ file.name }}
        </div>
        <br/>
      </div>
      <button (click)="submitTrip()" style="margin-right: 5px;">Submit</button>
      <button (click)="resetForm()">Cancel</button>
    </ng-container>
  </div>
</div>
